.img {
    width: 300px;
    height: 300px;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 300px;
    height: 300px;
    font-size: 32px;
    border: 5px solid lightblue;
}

.params {
    display: flex;
    flex-direction: column; 
    margin: 3;
    padding: 10px;
}

.param:nth-child(even) {
    background-color: lightblue;
}

.param:nth-child(odd) {
    background-color: transparent;
}
